{%include 'sidebar.html'%}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->

    <meta charset="utf-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.3/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href="static/css/ index.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Invoice</title>
</head>

<style>
    body {
        /* background-color: #ECECEC; */
    }

    body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('https://img.freepik.com/free-vector/technology-concept-background_23-2148116640.jpg?size=626&ext=jpg&ga=GA1.1.961609578.1687610561&semt=ais');
    /* Replace 'your_image_url.jpg' with the actual URL of your image */
    background-size: cover;
    transform: scaleX(-1); /* Flip the background image horizontally */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}



    .row {
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 10px;
        background-color: #ffffff92;
    }

    #Download {
        border: 1px solid #AD7BE9 !important;
        margin-top: 6.5rem;
        background: none;
        color: #AD7BE9;
    }

    #Download:hover {
        background: #AD7BE9;
        color: white;
    }

    a {
        text-decoration: none !important;

    }

    #text {
        color: #AD7BE9;
    }

    #text__2:active {
        color: #AD7BE9;
    }

    .active {
        color: #32bacf;
    }

    
</style>


<body>

    <section class="home">
        <div class="">

            <div class="row m-5 ">

                <div class="col-lg-6">

                    <div class="header py-4">
                        <p class="ml-4">XYZ <span class="mx-5">Invoice</span> </p>

                    </div>

                </div>

                <div class="col-lg-6">

                    <button class="btn btn-info mt-4" style="position:relative; float: right;">
                        <a class="text-white" href="create_invoice">+ Create New Invoice</a>
                    </button>

                </div>

            </div>

            <div class="row m-5 ">

                <div class="col-lg-12">

                    <div class="text cursor" id="button-group">
                        <h6 class="d-inline active mx-5" style="cursor: pointer;" id="text">Active Invoice</h6>
                        <h6 class="d-inline active" id="text__2" style="cursor: pointer;">Delete Invoice</h6>
                    </div>

                    <hr>

                    <div class="row filter">

                        <div class=" col-lg-3 my-2 py-2 ">

                            <h5><strong class="ml-3">Filters</strong></h5>
                            <br>
                            <div class="form-group mx-3">
                                <label for="selectOption">Select option with search</label>
                                <select class="selectpicker form-control" data-live-search="true" id="selectOption">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-3">

                            <br>
                            <br>
                            <div class="form-group filter2 mt-4">
                                <label class="" for="selectOption">Select option with search</label>
                                <select class="selectpicker form-control" data-live-search="true" id="selectOption">
                                    <option>Option 1</option>
                                    <option>Option 2</option>
                                    <option>Option 3</option>
                                    <option>Option 4</option>
                                    <option>Option 5</option>
                                </select>
                            </div>


                        </div>

                        <div class="col-lg-3">

                            <br>
                            <br>
                            <div class="date-range mt-4">
                                <label for="Select2">Select Date Range:</label><br>
                                <input class="form-control" type="date" id="Select2" name="Select2">
                            </div>

                        </div>

                        <div class="col-lg-3">

                            <a href="#" onclick="ExportToExcel('xlsx')"> <button class=" btn mr-5 Download"
                                    id="Download"><i class="fa fa-download mx-3" aria-hidden="true"></i>Download CSV
                                </button></a>

                        </div>

                    </div>

                </div>

            </div>

            <div class="row mb-3 mx-5 py-3">

                <div id="example_wrapper" class="col-lg-12 col-md-4 my-5">

                    <table id="example" class="" style="width:100%; border: 2px solid #ECF2FF"
                        aria-describedby="example_info">
                        <thead style="background-color: rgb(247, 250, 255);">
                            <tr>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 133.4px;"><input
                                        type="checkbox" name="" id="selectAll"></th>
                                <th class="sorting sorting_asc" tabindex="0" aria-controls="example" rowspan="1"
                                    colspan="1" aria-sort="ascending"
                                    aria-label="Name: activate to sort column descending" style="width: 133.4px;">Date
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Position: activate to sort column ascending" style="width: 221.575px;">
                                    Invoice#
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Office: activate to sort column ascending" style="width: 98.75px;">
                                    Billed To
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Age: activate to sort column ascending" style="width: 40.0125px;">Amount
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Start date: activate to sort column ascending" style="width: 87.175px;">
                                    Due date
                                    </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Salary: activate to sort column ascending" style="width: 74.7625px;">
                                    status
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                                    aria-label="Salary: activate to sort column ascending" style="width: 74.7625px;">
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            {%for row in rep_data: %}
                            <tr>
                                <td><input type="checkbox" name="" id=""></td>
                                <td>{{row.get('date')}}</td>
                                <td>{{row.get('invoice')}}</td>
                                <td>{{row.get('billed_to')}}</td>
                                <td>{{row.get('amount')}}</td>
                                <td>{{row.get('payment_date')}}</td>
                                {%if row.get('status') =="1":%}
                                <td><button class="btn btn-success rounded-pill">Paid</button></td>
                                <td><i class="fa fa-download mx-3" aria-hidden="true"></i></td>
                                {%else%}
                                <td class=""><button class="btn btn-danger rounded-pill">Unpaid</button></td>
                                <td class=""><i class="fa fa-download mx-3" aria-hidden="true"></i></td>
                                {%endif%}
                            </tr>
                            
                {%endfor%}

                        </tbody>

                </div>

            </div>

        </div>

    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.3/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/xlsx@0.15.1/dist/xlsx.full.min.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>



    <script>

        function ExportToExcel(type, fn, dl) {
            var elt = document.getElementById('example');
            var wb = XLSX.utils.table_to_book(elt, { sheet: "sheet1" });
            return dl ?
                XLSX.write(wb, { bookType: type, bookSST: true, type: 'base64' }) :
                XLSX.writeFile(wb, fn || ('MySheetName.' + (type || 'xlsx')));
        }

        $(document).ready(function () {

            // $('#text').on('click', function () {
            //     $("#text").addClass("active");
            //     $("#text__2").removeClass("active");

            // });

            $('#text__2').on('click', function () {
                $("#text__2").addClass("active");
                $("#text").removeClass("active");

            });


        });
        $(document).ready(function () {
            let table = $('#example').DataTable({
                scrollX: true,
            });
        });

        $("#selectAll").click(function () {
            $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
        });

        $("input[type=checkbox]").click(function () {
            if (!$(this).prop("checked")) {
                $("#selectAll").prop("checked", false);
            }
        });

        jackHarnerSig();

        const buttonGroup = document.getElementById("button-group");
        let prevButton = null;
        const buttonPressed = (e) => {
            if (e.target.nodeName === 'BUTTON') {
                e.target.classList.add('active');
                if (prevButton !== null) {
                    prevButton.classList.remove('active');
                }
                prevButton = e.target;
            }
        }
        buttonGroup.addEventListener("click", buttonPressed);


    </script>
</body>

</html>